<header> class="navbar navbar-light bg-light mb-4"> 
  <div class="container">
  <% if (username) { %>
    <p>Logged in as: <%= username %>!</p>
    <form action="/logout" method="POST">
      <button type="submit">Logout</button>
    </form>
  <% } else { %>
    <form action="/login" method="POST">
      <input type="text" name="username" placeholder="Enter Username">
      <button type="submit">Login</button>
    </form>
  <% } %>
</header>
