<header>
  <% if (username) { %>
  <p>Logged in as: <%= username %></p>
  <form action="/logout" method="POST">
      <button type="submit">Logout</button>
    </form>
  <% } else { %>
  <form action="/login" method="GET">
  <button type="submit">Login</button>
    </form>
    <form action="/register" method="GET">
      <button type="submit">Register</button>
    </form>
  <% } %>
</header>
